<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329689363769-rstsnvo072vu861fhn0v5auel16ji7v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329689363769-rstsnvo072vu861fhn0v5auel16ji7v4</string>
	<key>API_KEY</key>
	<string>AIzaSyAz3x3eLLAzs3DXAQWXN5S9JkMqDTNKahs</string>
	<key>GCM_SENDER_ID</key>
	<string>329689363769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.archethic.wallet</string>
	<key>PROJECT_ID</key>
	<string>ae-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>ae-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329689363769:ios:a0df2fae4b37b34b0fe4e8</string>
</dict>
</plist>