[Desktop Entry]
Name=Archethic Wallet
GenericName=Archethic Wallet
Comment=Decentralized & cryptocurrency non-custodial hot wallet on Archethic blockchain
Icon=archethic_wallet
Terminal=false
Type=Application
Categories=Utility
Keywords=Wallet;Blockchain;Archethic;